{% extends "network/layout.html" %}

{% block body %}
<h1 style="padding-top: 10px;">Friends' Posts</h1> <br>
{% if user.is_authenticated %}
<div id="new_post">
    <h4 style="margin-left: 20px; padding-bottom: 10px;">New Post</h4>
    <div style="margin-left: 20px;" class="form-group">
    <form id="newpost_form" action="{% url 'create' %}" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Post"/>
    </form>
</div>
</div>
{% endif %}
    {% for post in posts %}
    {% endfor %}
{% endblock %}