{% extends "network/layout.html" %}

{% block body %}
<h1 style="padding-top: 10px;">All Posts</h1> <br>
{% if user.is_authenticated %}
<div id="new_post">
    <h4 style="margin-left: 20px; padding-bottom: 10px;">New Post</h4>
    <div style="margin-left: 20px;" class="form-group">
    <form id="newpost_form" action="{% url 'create' %}" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Post"/>
    </form>
</div>
</div>
{% endif %}
    {% for post in posts %}
    <div id="post">
        <h4 style="margin-bottom: 10px;"> <a href="{% url 'user_view' post.author %}"><bold>@{{post.author}}</bold></a> says:</h4> <br>
        {% if post.author == request.user %}
        <a href="#" style="float: right; font-weight: bolder; margin-top: -55px;">
            Edit </a>
        {% endif %}
        <p style="margin-left: 30px; font-size: 120%;"> {{post.body}} </p> <br>
        <p id="likes_count_{{post.id}}" data-all_likes={{post.likes.all.count}} style="margin-left: 30px; font-size: 120%;"> ❤️{{post.likes.all.count}} </p> <br>
        <button class="like_button" data-post_id={{post.id}} data-user_id={{request.user.id}}>Like</button>
        <button class="unlike_button" data-unlikeID='0' data-post_id={{post.id}} data-user_id={{request.user.id}} style="background-color:#54d4ff;">Unlike</button>
        <p style="font-weight: lighter; margin-left: 30px;">{{post.creation_date}}</p>
    </div>
    {% endfor %}
    <nav aria-label="Page navigation example">
    <span class="current" style="float: right; margin-right: 60px;">
      {{ posts.number }} - {{ posts.paginator.num_pages }}
       </span>
        <ul class="pagination justify-content-center" style="margin-left: 60px;">
            {% if posts.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a>
              </li>
            {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
            {% endif %}

          {% if posts.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ posts.next_page_number }}">Next</a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
          </li>
          {% endif %}
        </ul>
      </nav>

{% endblock %}
