{% extends "network/layout.html" %}

{% block body %}
<h1 style="padding-top: 10px;">All Posts</h1> <br>
{% if user.is_authenticated %}
<div id="new_post">
    <h4 style="margin-left: 20px; padding-bottom: 10px;">New Post</h4>
    <div style="margin-left: 20px;" class="form-group">
    <form action="{% url 'create' %}" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Post"/>
    </form>
</div>
</div>
{% endif %}
    {% for post in posts %}
    <div id="post">
        <h4 style="margin-bottom: 10px;"> <a href="{% url 'user_view' post.author %}"><bold>@{{post.author}}</bold></a> says:</h4> <br>
        {% if post.author == request.user %}
        <a href="#">
            <button id="edit">
            EDIT
            </button>
        </a>
        {% endif %}
        <p style="margin-left: 30px; font-size: 120%;"> {{post.body}} </p> <br>
        <p style="margin-left: 30px; font-size: 120%;"> &#10084;&#65039;{{post.likes.all.count}} </p> <br>
        <button id="like_button">Like</button>
        <p style="font-weight: lighter; margin-left: 30px;">{{post.creation_date}}</p>
    </div>
    {% endfor %}



    <span class="current" style="float: right; margin-right: 20px; margin-top: 7px;">
        {{ posts.number }} of {{ posts.paginator.num_pages }}.
    </span>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if posts.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a>
              </li>
            {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
            {% endif %}

          {% if posts.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ posts.next_page_number }}">next</a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
          </li>
          {% endif %}
        </ul>
      </nav>


{% endblock %}